.header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  background: var(--primary);
  border-bottom: 1px solid var(--black);
  height: 3.5rem;
}

.header__title {
  text-align: center;
  font-size: 2rem;
}
