.card {
  /* border: 2px solid var(--primary); */
  padding: 2rem;
  text-align: center;
  position: relative;
  border-radius: 10px;
  /* background-color: var(--transparency-bg); */
  height: 19rem;
  background: rgba(31, 127, 200, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(243, 243, 243, 0.554);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
}

.card__question {
  margin: 0 0 2rem;
  color: var(--secondary);
}

.card__button-answer {
  background: var(--secondary);
  color: var(--black);
  font-weight: 900;
  border: none;
  margin: 0 auto 1rem auto;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  width: 15rem;
}

.card__button-answer:hover {
  cursor: pointer;
  color: var(--secondary);
  background-color: var(--primary);
}

.card__answer {
  margin: 0 2rem;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 3px;
  visibility: hidden;
  padding: 1rem;
}

.card__answer--active {
  display: block;
}

.card__button-bookmark {
  position: absolute;
  right: 1rem;
  top: -1.5rem;
}

.card__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
  position: absolute;
  bottom: 1rem;
}

.card__tag-list-item {
  background-color: var(--secondary);
  color: var(--black);
  border-radius: 4px;
  padding: 0 5px;
}
