.card {
  border: 2px solid var(--black);
  padding: 2rem;
  text-align: center;
  position: relative;
  border-radius: 10%;
  background-color: var(--transparency-bg);
  height: 19rem;
}

.card__question {
  margin: 0 0 2rem;
}

.card__button-answer {
  background: var(--secondary);
  color: var(--black);
  font-weight: 900;
  border: none;
  display: block;
  margin: 0 auto 2rem auto;
  padding: 1rem;
  border-radius: 15%;
}

.card__button-answer:hover {
  cursor: pointer;
  border: 2px solid var(--primary);
}

.card__answer {
  margin: 0 2rem;
  font-weight: 600;
  background-color: var(--primary);

  display: none;
}

.card__answer--active {
  display: block;
}

.card__button-bookmark {
  position: absolute;
  right: 1rem;
  top: -1.5rem;
}

.card__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.card__tag-list-item {
  background-color: var(--secondary);
  color: var(--black);
  border-radius: 4px;
  padding: 0 5px;
}
